# --- Global / IDE ---
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.log

# --- Project Tools ---
tools/
*.zip
*.tar.gz

# --- Backend (Spring Boot / Java) ---
**/build/
**/bin/
**/.gradle/
**/out/
**/.settings/
**/.classpath
**/.project
**/target/
lci-backend/src/main/resources/application-secret.properties

# --- Frontend (React / Node) ---
**/node_modules/
**/dist/
**/dist-ssr/
**/.env
**/.env.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
